{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>
    <!-- #######################################################################引入CDN################################################################################## -->
    <!-- #######################################################################引入CDN################################################################################## -->

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <!-- #######################################################################引入CDN################################################################################## -->
    <!-- #######################################################################引入CDN################################################################################## -->
    <title>商品详情</title>
  </head>
  <body>
    <ul class="nav nav-pills">
      <li role="presentation" class="active" style="font-size: 60px;"><a href="/login/index">个人信息页</a></li>
      <li role="presentation" class="active" style="font-size: 60px;"><a href="/login/shop">商城</a></li>
      <li role="presentation" class="active" style="font-size: 60px;"><a href="/polls">技术咨询</a></li>
      <li role="presentation" class="active" style="font-size: 60px;"><a href="/login/watch">数据可视化</a></li>
    </ul>
    {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
    <div>
      <tr><img src="{{src}}" alt="网络问题，图片加载失败" style="height:500px;width:500px"></tr>
   <div class="item_zs">
   <tr>商品名字：{{name}}</tr><br>
   <tr>商品价格：{{value}}￥/Kg</tr><br>
   <tr>商品描述：{{description}}</tr> 
   </div>
      
    </div>
  

    <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      .item_zs{
        font-size: 30px;
      }
    </style>
  </body>
</html>