<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微商城</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body background = "../../static/login/image/molv_back.jpeg">
    {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <ul class="nav nav-pills" style="margin-top: 10px;">
        <li role="presentation" class="active" style="font-size: 35px;"><a href="/login/index">个人信息页</a></li>
        <li role="presentation" class="active" style="font-size: 35px;"><a href="#">商城</a></li>
        <li role="presentation" class="active" style="font-size: 35px;"><a href="/polls">技术咨询</a></li>
        <li role="presentation" class="active" style="font-size: 35px;"><a href="/login/watch">数据可视化</a></li>
      </ul>
<h1>商城页面</h1>
<div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="/login/item/1" class="thumbnail">
        <img src="../../static/login/image/shop/huangtao.jpg" alt="黄桃" style="height: 300px;width: 300px;">
      <a style="font-size: 35px;color: #000;">黄桃</a>
    </a>
    <a href="/login/buy/1" style="font-size: 35px;color: #000;">添加到购物车</a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/login/item/2" class="thumbnail">
          <img src="../../static/login/image/shop/pingguo.jpg" alt="苹果" style="height: 300px;width: 300px;">
        <a style="font-size: 35px;color: #000;" >苹果</a>
    </a>
    <a href="/login/buy/2" style="font-size: 35px;color: #000;">添加到购物车</a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/login/item/3" class="thumbnail">
          <img src="../../static/login/image/shop/li.jpg" alt="梨" style="height: 300px;width: 300px;">
        <a style="font-size: 35px;color: #000;">梨</a>
        </a>
        <a href="/login/buy/3" style="font-size: 35px;color: #000;">添加到购物车</a>
    </div>
    <div class="table1" style="float:right;width:300px;">
      <p style="font-size: 20px;color: red;" >您的购物车</p>
      <table class="tablecla" id="tableid" cellspacing="0">
          <thead>
              <tr>
                  <th>序号</th>
                  <th>商品名称</th>
                  <th>商品单价</th>
                  <th>数量</th>
                  <th>商品总价</th>
                  <th>操作</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      <p><span style="font-size: 15px;">总计:</span><span style="font-size: 15px;color:red">{{summoney}}元</span></p>
      <a href="/login/submit" style="font-size: 20px;" type="submit">提交订单</a>
  </div>  
  <script type="text/JavaScript">
    $(document).ready(function(){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });

        $('#tableid').DataTable(
            {
                "pagingType": "full_numbers",
            // 跟基本使用对比，已经没有data属性，而是多了"ajax"
            "ajax":{
                "processing": true,
                // ajax请求的网址
                "url": "{% url 'login1:getcar' %}",
                "type": 'POST',
                
                //
                "dataSrc": ""
            },
            
                columns : [
                    {data:null,
                    width:"1%",
                    'render':function(data,type,full,meta){
                    return meta.row + 1 + meta.settings._iDisplayStart;
                }},
                    {data:"item_name",
                    'render':function(data,type,full,meta){
                        return '<a class="text-warning" >'+data+'</a>';
                    }
                },
                    {data:"item_value",
                    'render':function(data,type,full,meta){
                        return '<a class="text-warning" >'+data+'</a>';
                    }
                },
                    {data:"item_counter",
                    'render':function(data,type,full,meta){
                        return '<a class="text-warning" >'+data+'</a>';
                    }
                },
                    {data:"item_money",
                    'render':function(data,type,full,meta){
                        return '<a class="text-warning" >'+data+'</a>';
                    }
                },
                    {data:"item_id",
                    'render':function(data,type,full,meta){
                        return '<a href="/login/reducar/' + data + '" style="font-size: 10px;">删除物品</a>'
                    }
                }
                ],
                "language": {
                "processing": "正在获取数据，请稍后...",
                "lengthMenu": "选择每页 _MENU_ 展示 ",
                "zeroRecords": "未找到匹配结果--抱歉",
                "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页, 共 _TOTAL_ 条记录",
                "infoEmpty": "没有数据",
                "infoFiltered": "(获取 _MAX_ 项结果)",
                "sLoadingRecords": "载入中...",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "末页"
                }
            }
            }
        )
    });
</script>
<style>
  .table1{
        border:3px solid #000;
        margin-left: 20px;
        margin-top: 5px;
        margin-right: 50px;
    }
</style>
</body>
</html>